---
import { getCollection } from 'astro:content';

import BaseLayout from "../../../layouts/BaseLayout.astro";

const filterCourses = ['client-side-basics/', 'full-time/', '2024']

let allCoursess = await getCollection('courses', ({id}) => filterCourses.map(crit => id.includes(crit)).every(item => item));

allCoursess.sort((a, b) => a.data.number - b.data.number);
---

<BaseLayout>
  <div class="prose lg:prose-lg mx-auto">
    <h1>Основы веб-разработки на стороне клиента</h1>
    <p>
      <a
        href="https://docs.google.com/spreadsheets/d/1ex4WJz5JM003zWcFaSMEy-rjsCUg_umqwixbh-9DJAo/edit?gid=0#gid=0"
        target="_blank">Ведомость</a
      >
    </p>
    <h2>Оценка за курс</h2>
    <p>
      Практическая часть (макс. 30 баллов) + Ответы на 6 вопросов (макс. 30
      баллов) + бонус (макс. 40 баллов) за сдачу в срок в соответствии с датами
      в плане. Теорию можно ответить один раз.
    </p>
    <p>Вычисляется среднее значение баллов за все работы.</p>
    <ul>
      <li>0-49 - неудовлетворительно;</li>
      <li>50-64 - удовлетворительно;</li>
      <li>65-84 - хорошо;</li>
      <li>85-100 - отлично.</li>
    </ul>
    {
      allCoursess
        .filter((post) => post.data.type === "schedule")
        .map((post) => (
          <a href={`/web-course-site/labs/${post.id}`}>
            {post.data.title}
          </a>
        ))
    }
    <h2>Лабораторные работы</h2>
    <ol class="columns">
      {
        allCoursess
          .filter((post) => post.data.type === "labs")
          .sort((a, b) => a.data.number - b.data.number)
          .map((post) => (
            <li>
              <a href={`/web-course-site/labs/${post.id}`}>
                {post.data.title}
              </a>
            </li>
          ))
      }
    </ol>
  </div>
</BaseLayout>

<style>
  @media screen and (min-width: 500px) {
    .columns {
      columns: 2 1em;
    }
    .columns > li {
      margin-top: 0;
    }
  }
</style>
