---
import { getCollection } from "astro:content";

interface Props {
    collection: string;
    slug: string;
    yearOnMain: string;
    isFulltime: boolean;
}

const { collection, slug, yearOnMain, isFulltime } = Astro.props;

const fullLink = `${collection}/${isFulltime ? "full-time" : "distance"}/${yearOnMain}`;

const allCourses = await getCollection("courses");
const allMaterials = allCourses.filter((post) => post.id.includes(fullLink));
const materialsOfYear = allMaterials
    .filter((material) => material.data.type === "labs")
    .sort((a, b) => (a.id < b.id ? -1 : 1));

const currentIdx = materialsOfYear.findIndex((a) => a.data.number === slug);

const getLabPrevNextId = (indxDiff: 1 | -1) => {
    const idx = currentIdx + indxDiff;
    const materialId = materialsOfYear[idx].id;
    const materialIdArray = materialId.split("/");
    return materialIdArray[materialIdArray.length - 1];
};
---

<div class="join max-w-[700px] grid grid-cols-2 mx-auto gap-1 mt-10">
    {
        currentIdx - 1 >= 0 ? (
            <a
                href={`/web-course-site/labs/${fullLink}/${getLabPrevNextId(-1)}`}
                class="flex py-4 border-1 border-bg-accent_second rounded-[15px] justify-center items-center text-bg-accent_second font-titles"
            >
                <svg
                    width="25"
                    height="24"
                    viewBox="0 0 25 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="mb-1"
                >
                    <path
                        d="M8 6L1 13L8 20"
                        stroke="#FF5391"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>

                {`Предыдущая`}
            </a>
        ) : (
            <div />
        )
    }
    {
        currentIdx + 1 < materialsOfYear.length ? (
            <a
                href={`/web-course-site/labs/${fullLink}/${getLabPrevNextId(1)}`}
                class="flex border-1 py-4 border-bg-accent_second rounded-[15px] justify-center items-center text-bg-accent_second font-titles"
            >
                {`Следующая`}
                <svg
                    width="26"
                    height="24"
                    viewBox="0 0 26 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="mb-1"
                >
                    <path
                        d="M17.5 6L24.5 13L17.5 20"
                        stroke="#FF5391"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </a>
        ) : (
            <div />
        )
    }
</div>
