---
import { getCollection } from 'astro:content';

import BaseLayout from "../../../layouts/BaseLayout.astro";

const filterCourses = ['client-side/', 'full-time/', '2023']

let allCoursess = await getCollection('courses', ({id}) => filterCourses.map(crit => id.includes(crit)).every(item => item));

allCoursess.sort((a, b) => a.data.number - b.data.number);
---

<BaseLayout>
  <div class="prose lg:prose-lg mx-auto">
    <h1>Веб-разработка на стороне клиента</h1>
    <p>
      <a
        href="https://drive.google.com/drive/folders/1Ifv2U1KM9Xu-n8btd0lYwXjttPSIfc1j?usp=drive_link"
        target="_blank">Ведомость и доп. материалы</a
      >
    </p>

    {
      allCoursess
        .filter((post) => post.data.type === "schedule")
        .map((post) => (
          <a href={`/web-course-site/labs/${post.id}`}>
            {post.data.title}
          </a>
        ))
    }

    <h2>Лекции</h2>

    <p>
      <a href="http://labcolor.space/lecture1/index.html" target="_blank"
        >Лекция 1</a
      >, <a href="http://labcolor.space/lecture2/index.html" target="_blank"
        >Лекция 2</a
      >, <a href="http://labcolor.space/lecture3/index.html" target="_blank"
        >Лекция 3</a
      >, <a href="http://labcolor.space/lecture4/index.html" target="_blank"
        >Лекция 4</a
      >, <a href="http://labcolor.space/lecture5/index.html" target="_blank"
        >Лекция 5</a
      >, <a href="http://labcolor.space/lecture6/index.html" target="_blank"
        >Лекция 6</a
      >, <a href="http://labcolor.space/lecture7/index.html" target="_blank"
        >Лекция 7</a
      >, <a href="http://labcolor.space/lecture8/index.html" target="_blank"
        >Лекция 8</a
      >, <a href="http://labcolor.space/lecture9/index.html" target="_blank"
        >Лекция 9</a
      >
    </p>
    <h2>Лабораторные работы</h2>
    <ol class="columns">
      {
        allCoursess
          .filter((post) => post.data.type === "labs")
          .sort((a, b) => a.data.number - b.data.number)
          .map((post) => (
            <li>
              <a href={`/web-course-site/labs/${post.id}`}>
                {post.data.title}
              </a>
            </li>
          ))
      }
    </ol>
    <h3>Рубежный контроль</h3>
    <ol class="columns">
      {
        allCoursess
          .filter((post) => post.data.type === "rk")
          .map((post) => (
            <li>
              <a href={`/web-course-site/labs/${post.id}`}>
                {post.data.title}
              </a>
            </li>
          )) || <li>Будут опубликованы к дате контроля</li>
      }
    </ol>
  </div>
</BaseLayout>

<style>
  @media screen and (min-width: 500px) {
    .columns {
      columns: 2 1em;
    }
    .columns > li {
      margin-top: 0;
    }
  }
</style>
