---
import BurgerMenu from "./BurgerMenu.astro";
import ThemeToggler from "./navigation/ThemeToggler.astro";

import { getCollection } from "astro:content";

const yearOnMain = "2023";

const allWebTech = await getCollection("web-tech");

const lastWebtech = allWebTech
    .filter((material) => material.id.startsWith(yearOnMain))
    .sort((a, b) => a.data.number - b.data.number);

const clinetMaterials = await getCollection("web-client-dev");

const lastClinetMaterials = clinetMaterials
    .filter((material) => material.id.startsWith(yearOnMain))
    .sort((a, b) => a.data.number - b.data.number);

const clinetMaterialsTs = await getCollection("web-client-dev-ts");

const lastClinetMaterialsTs = clinetMaterialsTs
    .filter((material) => material.id.startsWith(yearOnMain))
    .sort((a, b) => a.data.number - b.data.number);

const courses = [
    {
        title: "Основы веб-технологий",
        href: `/web-course-site/labs/web-tech`,
        materials: lastWebtech,
    },
    {
        title: "Основы веб-разработки",
        href: `/web-course-site/labs/web-client-dev`,
        materials: lastClinetMaterials,
    },
    {
        title: "Веб-разработка на клиенте",
        href: `/web-course-site/labs/web-client-dev-ts`,
        materials: lastClinetMaterialsTs,
    },
];

const links = [
    {
        title: "Главная",
        href: `/web-course-site`,
        icon: "./src/assets/img/house.svg",
    },
    {
        title: "Курсы",
        href: `#courses`,
        icon: "./src/assets/img/book.svg",
    },
    {
        title: "База знаний",
        href: `#useful`,
        icon: "./src/assets/img/database.svg",
    },
];

// isDropdownOpen.onToggled(() => {});
---

<header class="drawer-container w-full fixed z-50">
    <div
        class="drawer md:bg-bg-menu text-text-primary flex-col gap-2 py-2.5 px-2.5 md:px-10 md:py-3.75 rounded-2xl box-border md:backdrop-blur-xl"
    >
        <div
            class="drawer-content-vertical w-full justify-between items-center mx-auto max-w-screen-xl flex"
        >
            <a class="userActionsLink hidden md:block" href="/web-course-site/">
                <img
                    class="w-10 h-10"
                    src="/src/assets/img/logo.svg"
                    alt="logo"
                />
            </a>
            <nav class="drawer-nav menu">
                {
                    links.map((link) => (
                        <a
                            class="header__link cursor-pointer userActionsLink font-titles md:font-texts "
                            id={link.href.slice(1) + "-link"}
                        >
                            {link.title}
                        </a>
                    ))
                }
                {
                    (
                        <ul class="dropdown__list-sm flex flex-col md:hidden justify-center gap-0">
                            {courses.map((course) => (
                                <li class="dropdown__item">
                                    <a
                                        class="dropdown__link text-[16px] px-7 py-5  userActionsLink"
                                        href={course.href}
                                    >
                                        {course.title}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    )
                }
            </nav>

            <BurgerMenu links={links} />
            <ThemeToggler />
        </div>
        {
            (
                <ul class="dropdown__list hidden md:flex justify-center gap-0 lg:gap-3">
                    {courses.map((course) => (
                        <li class="dropdown__item">
                            <a
                                class="dropdown__link text-sm md:text-base lg:text-xl p-3 lg:p-5 userActionsLink"
                                href={course.href}
                            >
                                {course.title}
                            </a>
                        </li>
                    ))}
                </ul>
            )
        }
    </div>
</header>

<script>
    let isDropdownOpen = false;

    const dropdown = document.querySelector(".dropdown__list");
    const coursesLink = document.querySelector("#courses-link");
    const mainLink = document.querySelector("#web-course-site-link");
    const usefulLink = document.querySelector("#useful-link");

    const dropdownSm = document.querySelector(".dropdown__list-sm");

    const toggleDropdown = (activeBtn, list) => {
        isDropdownOpen = !isDropdownOpen;
        list?.classList.toggle("open", isDropdownOpen);
        activeBtn?.classList.toggle("open", isDropdownOpen);
    };

    const goToLink = (link) => {
        const slicedLink =
            link.id === "web-course-site-link"
                ? link.id.slice(0, -5)
                : "web-course-site/" + link.id.slice(0, -5);
        window.location.href = `/${slicedLink}/`;
    };

    let screenSize = window.screen.width;

    window.addEventListener("resize", () => {
        screenSize = window.screen.width;
    });

    const handleToggleDropDown = () => {
        if (screenSize < 768) {
            toggleDropdown(coursesLink, dropdownSm);
            return;
        }
        toggleDropdown(coursesLink, dropdown);
    };

    mainLink?.addEventListener("click", () => goToLink(mainLink));
    coursesLink?.addEventListener("click", handleToggleDropDown);

    usefulLink?.addEventListener("click", () => goToLink(usefulLink));
</script>

<style>
    .drawer-container {
        transition: 0.3s ease-in-out;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .drawer-content-vertical {
        transition: 0.3s ease-in-out;
    }

    .dropdown__list {
        transition: 0.3s ease-in-out;
        max-height: 0px;
        width: 100%;
        padding: 0;
        pointer-events: none;
        opacity: 0;
    }

    .dropdown__list.open {
        pointer-events: all;
        max-height: 100px;
        width: 100%;
        opacity: 1;
        padding: 15px 0;
    }

    .dropdown__list-sm {
        transition: all 0.3s ease-in-out;
        max-height: 0px;
        width: 100%;
        padding: 0;
        pointer-events: none;
        opacity: 0;
    }

    .dropdown__list-sm.open {
        pointer-events: all;
        max-height: 200px;
        width: 100%;
        opacity: 1;
        padding: 0;
        background-color: var(--color-bg-secondary);
    }

    #courses-link {
        position: relative;
        padding-right: 40px;
    }

    #courses-link::after {
        transition: 0.3s ease-in-out;
        content: "";
        position: absolute;
        top: 23px;
        right: 15px;
        width: 21px;
        height: 20px;
        background: url("/src/assets/img/cheveron-down.svg") center no-repeat;
        transform: rotate(-90deg);
    }

    #courses-link.open::after {
        transform: rotate(0deg);
    }

    .menu {
        display: flex;
        gap: 40px;
    }

    @media (max-width: 768px) {
        .drawer-container:has(.menu.open) {
            padding: 0;
            z-index: 999;
            background-color: transparent;
        }

        .drawer {
            transition: background-color 0.3s ease-in-out;
            background-color: var(--color-bg-menu);
            backdrop-filter: blur(40px);
        }

        .drawer:has(.menu.open) {
            background-color: transparent;
            backdrop-filter: none;
        }

        .drawer-content-vertical:has(.menu.open) {
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }

        .header__link {
            padding-left: calc(1.25rem + 0.6875rem);
            padding-right: calc(1.25rem + 0.6875rem);
        }

        .menu {
            gap: 0;
            padding: 0px;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            flex-direction: column;
            z-index: 10;
            height: 0vh;
            transition: 0.3s ease-in-out;
            overflow: hidden;
            background-color: var(--color-bg-menu);
            backdrop-filter: blur(40px);
            opacity: 0;
        }

        .menu.open {
            opacity: 1;
            display: flex;
            height: 100vh;
            padding-top: calc(72px + (0.625rem * 2));
        }

        .menu a {
            transition: color 0.3 ease-in-out;
            color: transparent;
            font-size: 0px;
        }

        .menu.open a {
            color: var(--color-text-primary);
            font-size: 16px;
        }

        #useful-link {
            order: 1;
        }
    }
</style>
