---
const { person } = Astro.props;
---

<li class="persons-item">
    {
        person.contact ? (
            <a
                href={`https://t.me/${person.contact}`}
                target="_blank"
                rel="noopener noreferrer"
                class="block"
            >
                <div class="relative group">
                    {person.imgUrl ? (
                        <div class="bg-bg-tertiary h-[90vw] sm:h-[45vw] lg:h-[30vw] xl:h-380px 2xl:h-430px rounded-[30px] mb-5 overflow-hidden flex items-end relative">
                            <img
                                class="w-full transition duration-300 group-hover:blur-sm"
                                src={person.imgUrl}
                                alt={`фото ${person.name}`}
                            />
                            <div class="absolute inset-0 flex items-center justify-center bg-bg-menu bg-opacity-50 opacity-0 transition duration-300 group-hover:opacity-100">
                                <div class="flex items-center space-x-2">
                                    <span class="text-white">{`@${person.contact}`}</span>
                                    <img
                                        class="w-6 h-6"
                                        src="./src/assets/img/tg-logo.svg"
                                        alt="Telegram"
                                    />
                                </div>
                            </div>
                        </div>
                    ) : (
                        <div class="bg-bg-tertiary h-[90vw] sm:h-[45vw] lg:h-[30vw] xl:h-380px 2xl:h-430px rounded-[30px] mb-5 overflow-hidden px-6.5 flex flex-col justify-end relative group">
                            <p class="font-titles text-xl sm:text-base text-center mb-5">
                                Мастер знаний, временно в облике кота
                            </p>
                            <img
                                class="w-3/4 ml-auto mr-10 transition duration-300 group-hover:blur-sm"
                                src="./src/assets/img/cat-glasses.svg"
                                alt="Cat Glasses"
                            />
                            <div class="absolute inset-0 flex items-center justify-center bg-bg-menu bg-opacity-50 opacity-0 transition duration-300 group-hover:opacity-100">
                                <div class="flex items-center space-x-2">
                                    <span class="text-white">{`@${person.contact}`}</span>
                                    <img
                                        class="w-6 h-6"
                                        src="./src/assets/img/tg-logo.svg"
                                        alt="Telegram"
                                    />
                                </div>
                            </div>
                        </div>
                    )}
                </div>
                <h3 class="persons-item-name light:text-text-secondary mb-2 line-height-[1]">
                    {person.name}
                </h3>
                {person.role ? (
                    <p class="persons-item-role line-height-[1] text-text-tertiary">
                        {person.role}
                    </p>
                ) : null}
            </a>
        ) : (
            <div class="block">
                <div class="relative">
                    {person.imgUrl ? (
                        <div class="bg-bg-tertiary h-[90vw] sm:h-[45vw] lg:h-[30vw] xl:h-380px 2xl:h-430px rounded-[30px] mb-5 overflow-hidden flex items-end">
                            <img
                                class="w-full"
                                src={person.imgUrl}
                                alt={`фото ${person.name}`}
                            />
                        </div>
                    ) : (
                        <div class="bg-bg-tertiary h-[90vw] sm:h-[45vw] lg:h-[30vw] xl:h-380px 2xl:h-430px rounded-[30px] mb-5 overflow-hidden px-6.5 flex flex-col justify-end">
                            <p class="font-titles text-xl sm:text-base text-center mb-5">
                                Мастер знаний, временно в облике кота
                            </p>
                            <img
                                class="w-3/4 ml-auto mr-10"
                                src="./src/assets/img/cat-glasses.svg"
                                alt="Cat Glasses"
                            />
                        </div>
                    )}
                </div>
                <h3 class="persons-item-name light:text-text-secondary mb-2 line-height-[1]">
                    {person.name}
                </h3>
                {person.role ? (
                    <p class="persons-item-role line-height-[1] text-text-tertiary">
                        {person.role}
                    </p>
                ) : null}
            </div>
        )
    }
</li>
