---
import { UsefulPost } from "../types/Useful";

interface Props {
    useful: UsefulPost;
}

const { useful }: Props = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
const href = `${baseUrl}/useful/${useful.id}`;

const date = new Date(useful.data.date || Date.now());
const formattedDate = date.toLocaleDateString("ru-RU", {
    day: "2-digit",
    month: "2-digit",
    year: "2-digit",
});

const length = useful.length;
const avgReadingSpeed = 160;
const avgWordLength = 5;
const getTimeToRead = (length: number) => {
    return Math.ceil(length / (avgWordLength * avgReadingSpeed));
};
---

<li
    class="useful-card"
    data-course={useful.data.course}
    data-title={useful.data.title}
>
    <a
        class="card rounded-[30px] xl:min-h-[395px] lg:min-h-30vw md:min-h-40vw sm:min-h-45vw min-h-90vw flex flex-col bg-bg-secondary p-5 lg:p-7.5 lg:p-10 justify-between w-full userActions"
        href={href}
    >
        <div class="card__top-content">
            <h3 class="useful-item-title">
                {useful.data.title}
            </h3>
            <p class="useful-item-descr">
                {useful.data.description}
            </p>
        </div>
        <div class="card__bottom-content flex justify-between">
            <div class="flex items-end gap-4">
                <div class="flex items-center gap-2">
                    <img
                        class="mb-1"
                        src="/src/assets/img/time-icon.svg"
                        alt="time-icon"
                    />

                    <span class="text-[16px]"
                        >~{length && getTimeToRead(length)} мин</span
                    >
                </div>
                {
                    useful.data.date && (
                        <span class="text-[16px]">{formattedDate}</span>
                    )
                }
            </div>
            <button
                onclick={`window.location.href=${href}`}
                class="useful-item-btn"></button>
        </div>
    </a>
</li>
<style>
    .useful-item-btn {
        background: url("/src/assets/img/goto.svg") no-repeat center;
        width: 50px;
        height: 50px;
        border: 1.5px solid var(--color-border);
        border-radius: 100%;
        color: var(--color-border);
    }
</style>
