---
const { useful } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
const href = `${baseUrl}/useful/${useful.slug}`;

const date = new Date(useful.data.date);
const formattedDate = date.toLocaleDateString("ru-RU", {
    day: "2-digit",
    month: "2-digit",
    year: "2-digit",
});

const length = useful.length;
const avgReadingSpeed = 160;
const avgWordLength = 5;
const getTimeToRead = (length) => {
    return Math.ceil(length / (avgWordLength * avgReadingSpeed));
};
---

<a href={href}>
    <li
        class="useful-card card rounded-[30px] min-h-[380px] flex flex-col bg-bg-secondary p-5 md:p-7.5 lg:p-10 justify-between w-full userActions"
    >
        <div class="card__top-content">
            <h3 class="useful-item-title">
                {useful.data.title}
            </h3>
            <p class="useful-item-descr">
                {useful.data.description}
            </p>
        </div>
        <div class="card__bottom-content flex justify-between">
            <div class="flex items-end gap-4">
                <div class="flex items-center gap-2">
                    <img
                        class="mb-1"
                        src="/src/assets/img/time-icon.svg"
                        alt="time-icon"
                    />

                    <span class="text-[16px]">~{getTimeToRead(length)} мин</span
                    >
                </div>
                {
                    useful.data.date && (
                        <span class="text-[16px]">{formattedDate}</span>
                    )
                }
            </div>
            <button
                onclick={`window.location.href=${href}`}
                class="useful-item-btn"></button>
        </div>
    </li>

    <style>
        .useful-item-btn {
            background: url("/src/assets/img/goto.svg") no-repeat center;
            width: 50px;
            height: 50px;
            border: 1.5px solid var(--color-border);
            border-radius: 100%;
            color: var(--color-border);
        }
    </style>
</a>
