---
import BaseLayout from "./BaseLayout.astro";
// import Breadcrumbs from "../components/navigation/Breadcrumbs.astro";
import Heading from "../components/Heading.astro";
import ButtonTop from "../components/navigation/ButtonTop.astro";
import Pagination from "../components/navigation/Pagination.astro";
import TOC from "../components/navigation/TOC.astro";

const { slug, frontmatter, headinglist, collection } = Astro.props;

let number;

if (frontmatter.number) {
    number = (parseInt(frontmatter.number) / 10)
        .toFixed(1)
        .toString()
        .split(".")
        .join("");
}
---

<BaseLayout title={frontmatter.collection}>
    <ButtonTop />
    <Heading
        title={frontmatter.title}
        number={number}
        backLink={`labs/${frontmatter.type}`}
    />
    <article class="max-w-prose xl:max-w-full mx-auto">
        <div
            class="xl:grid grid-cols-[1fr_700px_1fr] gap-4 items-start text-text-inverted"
        >
            <aside
                class="side mx-auto top-25 pt-6 xl:px-6 xl:pt-0 mb-14 xl:mb-0 xl:sticky"
            >
                {
                    frontmatter.type !== "schedule" && (
                        <TOC headings={headinglist} />
                    )
                }
            </aside>
            <div class="md prose lg:prose-lg">
                <slot />
            </div>
        </div>
    </article>
    <div class="mb-20">
        {
            frontmatter.type === "labs" && (
                <Pagination collection={collection} slug={slug} />
            )
        }
    </div>
</BaseLayout>

<style>
    .side > :global(h2) {
        font-size: 28px;
        font-weight: 600;
    }
    .side > :global(ul > li > a) {
        word-wrap: break-word;
        text-decoration: underline;
    }

    .md > :global(h1) {
        display: none;
    }

    .md :global(a) {
        word-wrap: break-word;
        color: var(--color-text-tertiary);
        text-decoration: underline;
    }

    .md > :global(p) {
        margin-bottom: 20px;
    }

    .md > :global(h2) {
        font-size: 38px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .md > :global(h3) {
        font-size: 28px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .md > :global(ul, ol) {
        list-style-type: disc;
        font-size: 20px;
        padding-left: 25px;
        margin-bottom: 20px;
    }

    .md > :global(pre) {
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 15px;
        background-color: var(--color-code) !important;
        color: var(--color-text-primary) !important;
    }

    .md > :global(pre > code) {
        font-family: "JetBrainsMono" !important;
        border-radius: 15px;
    }

    .md > :global(ol > li code, ul > li code) {
        padding: 2px 10px;
        border-radius: 5px;
        background-color: var(--color-code-snaps) !important;
    }

    .md > :global(pre > code > span > span) {
        font-size: clamp(14px, 2vw, 16px);
    }

    .md > :global(ol) {
        list-style-type: decimal;
    }

    .md > :global(table) {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .md > :global(table > thead) {
        text-align: left;

        background-color: var(--color-bg-secondary);
    }

    .md > :global(table > thead > tr > th) {
        padding: 10px 20px;
        color: var(--color-text-primary);
        font-size: 20px;
    }

    .md > :global(table > tbody > tr > td) {
        padding: 10px 20px;
        font-size: 20px;
    }

    .md > :global(table > tbody > tr:nth-child(even)) {
        background-color: var(--color-code-snaps);
    }

    .md > :global(div.warning) {
        border: 1px solid #ff5050;
        color: #ff5050;
        background-color: rgba(255, 130, 130, 0.1);
        font-size: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 20px;
    }

    .md > :global(p > img),
    .md > :global(svg) {
        border-radius: 10px;
        margin-bottom: 20px;
    }
</style>
