---
import BaseLayout from "./BaseLayout.astro";
import ButtonTop from "../components/navigation/ButtonTop.astro";
import Heading from "../components/Heading.astro";
import ShareIcon from "../components/icons/ShareIcon.astro";

const { frontmatter } = Astro.props;

---

<BaseLayout title={frontmatter.title}>
  <Heading
    title={frontmatter.title}
    backLink={'useful/'}
  />
  <main class="prose lg:prose-lg mx-auto pb-14">
    <ButtonTop />
    <div class="box-content max-w-[600px] m-auto px-3.5">
      <article class="md">
        <slot />
      </article>
      <address class="flex items-start justify-between gap-4 mt-10">
        <div class="flex items-start gap-2.5">
          <div class="aspect-square w-12 flex rounded-full overflow-hidden bg-bg-tertiary">
            <img src={frontmatter.authorAvatar} class="w-full h-full object-contain object-bottom" alt={frontmatter.author}>
          </div>
          <div class="flex flex-col gap-1">
            <p class="text-xs xl:text-base text-text-inverted !leading-[1.2] not-italic">
              {frontmatter.author}
            </p>
            <time class="text-xs xl:text-base text-text-tertiary leading-[1.2] xl:leading-[1.2] not-italic">
              Последнее обновление: {frontmatter.updatedAt}
            </time>
          </div>
        </div>
        <a class="aspect-square w-12 flex items-center justify-center  border rounded-full border-bg-accent_second text-bg-accent_second hover:border-bg-hover active:border-bg-active focus:border-bg-active hover:text-bg-hover active:text-bg-active focus:text-bg-active" href="#">
          <!-- можно добавить текст, который подскажет, в чем заключается действие этой ссылки-->
          <ShareIcon
            class="w-6 h-6 text-inherit"
          />
        </a>
      </address>
    </div>
  </main>
</BaseLayout>

<style>
  .md {
    color: var(--color-text-inverted);
  }

  .md :global(h1, h2, h3) {
    margin-bottom: 20px;
    text-wrap: balance;
    line-height: 1.1;
  }

  .md :global(h1, h2, h3) {
    margin-top: 40px;
  }

  .md :global(:is(h1, h2, h3):first-child) {
    margin-top: 0;
  }

  .md :global(h2) {
    font-size: 40px;
  }

  .md :global(h3) {
    font-size: 28px;
  }

  @media (max-width: 1200px) {
    .md :global(h3) {
      font-size: 24px;
    }
  }

  @media (max-width: 768px) {
    .md :global(h2) {
      font-size: 28px;
    }

    .md :global(h3) {
      font-size: 24px;
    }
  }

  .md :global(p) {
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .md :global(code:not(pre code)) {
    color: var(--color-bg-accent-second);
  }

  .md :global(ul, ol) {
    margin-bottom: 20px;
    padding-left: 40px;
  }

  .md :global(ul) {
    list-style-type: disc;
  }

  .md :global(ol) {
    list-style-type: decimal-leading-zero;
  }

  .md :global(li) {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (max-width: 1200px) {
    .md :global(li) {
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    .md :global(li) {
      font-size: 16px;
    }
  }

  .md :global(a), .md :global(code) {
    word-wrap: break-word;
  }

  .md :global(a) {
    color: var(--color-text-tertiary);
    text-decoration: underline;
  }

  .md :global(img) {
    margin: 20px 0;
    border-radius: 10px;
  }

  .md :global(pre) {
    margin: 20px 0;
    padding: 12px 0 12px 12px;
    border-radius: 10px;
  }

  .md :global(hr) {
    margin: 20px 0;
  }

  .md > :global(*:last-child) {
    margin-bottom: 0;
  }
</style>
